<div class="timer">
    <div class="form-group">
        <label>Enter Timer(<small>In minutes</small>)</label><br>
        <div class="d-flex">
            <input type="text" name="username" [(ngModel)]="username">
            <button type="button" class="btn primaryButton" (click)="clickme()" *ngIf="showTimerControls">{{ startText
                }}</button>
            <button type="button" class="btn primaryButton" (click)="lapTimeSplit()">Lap</button>
            <button class="timer-button" class="btn secondaryButton" (click)="clearTimer()">Clear</button>
        </div>
    </div>
    <div class="timervalue" id="timerval">
        <p>{{display}}</p>
    </div>
    <div *ngFor="let lap of laps;let i = index">
        <div class="lapslist">&#9873; <b>Lap {{i+1}}:</b> {{lap}}</div>
        <br>
    </div>
    {{previouslaps}}
</div>